<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.codingtime.alfred.FBSimulatorControl</string>
	<key>connections</key>
	<dict>
		<key>31B8387C-E146-43F0-A42D-288A5FF7AC34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03244A9E-708E-49CD-9777-3CE2298A7C66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F5919A3-5D8D-41DC-A1BA-4BD527D57A46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F41BACB-DBA4-4335-937F-B161220267A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>847B21ED-72D6-4653-B9B5-A3883380B35C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4B17866-C5DA-4CA8-8B9E-8B9313DFDD27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F41BACB-DBA4-4335-937F-B161220267A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DED82CC2-A28E-492F-B387-4D70F017E484</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4572F65-4466-4FCB-B00C-BC5A2BF6B510</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA9EF727-4A97-4A80-9498-1887D490955D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4B17866-C5DA-4CA8-8B9E-8B9313DFDD27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05EA4C47-04B7-4082-88A9-770635E0A508</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA9EF727-4A97-4A80-9498-1887D490955D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AE35068-8A32-4FA0-BF1E-00A3DD530B80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD9E6EF4-6780-4577-BC9B-8CC7D86539BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31B8387C-E146-43F0-A42D-288A5FF7AC34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Du</string>
	<key>description</key>
	<string>一键启动FBSimulatorControl各种功能</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>FBSimulatorControl Helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>添加设备</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3AE35068-8A32-4FA0-BF1E-00A3DD530B80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string># -*- coding: utf-8 -*-
import sys

query = sys.argv[1]

import FBSimctrlTool

result, resultText = FBSimctrlTool.addSimulator(query);
print(resultText)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CA9EF727-4A97-4A80-9498-1887D490955D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fbs</string>
				<key>subtext</key>
				<string>输入设备ID</string>
				<key>text</key>
				<string>添加设备</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B4572F65-4466-4FCB-B00C-BC5A2BF6B510</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fbs</string>
				<key>subtext</key>
				<string>Duang地在所有设备列表里启动app</string>
				<key>text</key>
				<string>一键启动app</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>847B21ED-72D6-4653-B9B5-A3883380B35C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys

import FBSimctrlTool

result, resultText = FBSimctrlTool.autoLaunchApp()
print(resultText)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4B17866-C5DA-4CA8-8B9E-8B9313DFDD27</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>启动应用</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>05EA4C47-04B7-4082-88A9-770635E0A508</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fbs</string>
				<key>subtext</key>
				<string>填入.app文件所在路径</string>
				<key>text</key>
				<string>设置app路径</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD9E6EF4-6780-4577-BC9B-8CC7D86539BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>设置app路径成功</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>03244A9E-708E-49CD-9777-3CE2298A7C66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys

query = sys.argv[1]

import FBSimctrlTool

result = FBSimctrlTool.setAppPath(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>31B8387C-E146-43F0-A42D-288A5FF7AC34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>设置bundle ID成功</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DED82CC2-A28E-492F-B387-4D70F017E484</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fbs</string>
				<key>subtext</key>
				<string>填入app的bundle ID</string>
				<key>text</key>
				<string>设置app bundle ID</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6F5919A3-5D8D-41DC-A1BA-4BD527D57A46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys

query = sys.argv[1]

import FBSimctrlTool

FBSimctrlTool.setAppBundleID(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F41BACB-DBA4-4335-937F-B161220267A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03244A9E-708E-49CD-9777-3CE2298A7C66</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>05EA4C47-04B7-4082-88A9-770635E0A508</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>31B8387C-E146-43F0-A42D-288A5FF7AC34</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>3AE35068-8A32-4FA0-BF1E-00A3DD530B80</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>6F5919A3-5D8D-41DC-A1BA-4BD527D57A46</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>847B21ED-72D6-4653-B9B5-A3883380B35C</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>9F41BACB-DBA4-4335-937F-B161220267A7</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>B4572F65-4466-4FCB-B00C-BC5A2BF6B510</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>B4B17866-C5DA-4CA8-8B9E-8B9313DFDD27</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>CA9EF727-4A97-4A80-9498-1887D490955D</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>CD9E6EF4-6780-4577-BC9B-8CC7D86539BA</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>DED82CC2-A28E-492F-B387-4D70F017E484</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://codingtime.me/</string>
</dict>
</plist>
